<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<link rel="stylesheet" href="../../static/css/member/join-modal-password.css">
<body>
    <!-- 0px인 선이 맨 위에 8개 있음 -->
    <div class="join-modal-line1">
        <div class="join-modal-line2">
            <div class="join-modal-line3">
                <div class="join-modal-line4">
                    <div class="join-modal-line5">
                        <div class="join-modal-line6">
                            <div tabindex="0" class="join-modal-line7"></div>
                            <div tabindex="0" class="join-modal">
                                <div class="join-modal-all"></div>
                                <!-- 실직적인 모달 시작 부분(join-modal-box) -->
                                <div class="join-modal-box1" aria-modal="true" role="dialog">
                                    <div class="join-modal-box2">
                                        <div class="join-modal-box3">
                                            <div tabindex="0" class="join-modal-in-line-top"></div>
                                            <div tabindex="0" class="join-modal-in">
                                                <div class="join-modal-header">
                                                    <div class="join-modal-header-in1">
                                                        <div class="join-modal-header-in2">
                                                            <div class="join-modal-header-in3">
                                                                <div class="join-modal-header-in4">
                                                                    <!-- 닫기 이미지 (X) -->
                                                                    <div class="join-modal-header-left">
                                                                        <button type="button" aria-label="닫기" class="join-modal-header-close-button">
                                                                            <div class="join-modal-header-close-button-in">
                                                                                <svg viewBox="0 0 24 24" aria-hidden="true" class="X-img" style="color: rgb(15, 20, 25);">
                                                                                    <g>
                                                                                        <path d="M10.59 12L4.54 5.96l1.42-1.42L12 10.59l6.04-6.05 1.42 1.42L13.41 12l6.05 6.04-1.42 1.42L12 13.41l-6.04 6.05-1.42-1.42L10.59 12z"></path>
                                                                                    </g>
                                                                                </svg>
                                                                                <div class="X-img-junk">
                                                                                    <span class="X-img-junk-css"></span>
                                                                                </div>
                                                                            </div>
                                                                        </button>
                                                                    </div>
                                                                    <!-- 로고 -->
                                                                    <div class="join-modal-header-middle">
                                                                        <div class="join-modal-logo-junk"></div>
                                                                        <div class="join-modal-logo">
                                                                            <svg viewBox="0 0 24 24" aria-label="X" role="img" class="join-modal-logo-img">
                                                                                <g>
                                                                                    <path d="M21.742 21.75l-7.563-11.179 7.056-8.321h-2.456l-5.691 6.714-4.54-6.714H2.359l7.29 10.776L2.25 21.75h2.456l6.035-7.118 4.818 7.118h6.191-.008zM7.739 3.818L18.81 20.182h-2.447L5.29 3.818h2.447z"></path>
                                                                                </g>
                                                                            </svg>
                                                                        </div>
                                                                    </div>
                                                                    <div class="join-modal-header-right"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- 모달 중간 내용 부분 -->
                                                <div class="join-modal-main">
                                                    <div class="join-modal-main-middle">
                                                        <div class="join-modal-main-middle-in">
                                                            <div class="account-create-wrap">
                                                                <div class="account-create-wrap-in">
                                                                    <h1 class="account-create">
                                                                        <span class="account-create-in">
                                                                            <span class="account-create-text">
                                                                                비밀번호가 필요합니다.
                                                                            </span>
                                                                        </span>
                                                                    </h1>
                                                                </div>
                                                                <div class="account-create-wrap-in">
                                                                    <h1 class="account-create1">
                                                                        <span class="account-create-in">
                                                                            <span class="account-create-text">
                                                                                8자 이상이어야 합니다.
                                                                            </span>
                                                                        </span>
                                                                    </h1>
                                                                </div>
                                                            </div>
                                                            <div class="account-create-wrap">
                                                                <!-- <div class="name-placeholder-wrap">
                                                                    <label class="name-placeholder">
                                                                        <div class="name-placeholder-in1">
                                                                            <div class="name-placeholder-in2">
                                                                                <div class="name-text">
                                                                                    <span class="name-text-in">이름</span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="name-placeholder-in3">
                                                                                <div class="name-placeholder-text">
                                                                                    <input maxlength="50" name="name" type="text" class="name-input" value="">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </label>
                                                                    <div class="name-line">
                                                                        <div class="name-line-in"></div>
                                                                    </div>
                                                                </div> -->
                                                                <div class="phone-number-placeholder">
                                                                    <label class="phone-placeholder">
                                                                        <div class="phone-placeholder-in1">
                                                                            <div class="phone-placeholder-in2">
                                                                                <div class="phone-text">
                                                                                    <span class="phone-text-in">비밀번호</span>
                                                                                </div>
                                                                            </div>
                                                                           <div class="phone-placeholder-in3">
                                                                                <div class="phone-placeholder-text">
                                                                                    <input maxlength="50" name="phone" type="text" class="phone-input" value="">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="eye-btn">
                                                                            <button type="button" class="eye-btn-wrap">
                                                                                <div class="eye-btn-wrap-in">
                                                                                    <svg viewBox="0 0 24 24" class="eye-btn-img">
                                                                                        <g>
                                                                                            <!-- <path d="M3.693 21.707l-1.414-1.414 2.429-2.429c-2.479-2.421-3.606-5.376-3.658-5.513l-.131-.352.131-.352c.133-.353 3.331-8.648 10.937-8.648 2.062 0 3.989.621 5.737 1.85l2.556-2.557 1.414 1.414L3.693 21.707zm-.622-9.706c.356.797 1.354 2.794 3.051 4.449l2.417-2.418c-.361-.609-.553-1.306-.553-2.032 0-2.206 1.794-4 4-4 .727 0 1.424.192 2.033.554l2.263-2.264C14.953 5.434 13.512 5 11.986 5c-5.416 0-8.258 5.535-8.915 7.001zM11.986 10c-1.103 0-2 .897-2 2 0 .178.023.352.067.519l2.451-2.451c-.167-.044-.341-.067-.519-.067zm10.951 1.647l.131.352-.131.352c-.133.353-3.331 8.648-10.937 8.648-.709 0-1.367-.092-2-.223v-2.047c.624.169 1.288.27 2 .27 5.415 0 8.257-5.533 8.915-7-.252-.562-.829-1.724-1.746-2.941l1.438-1.438c1.53 1.971 2.268 3.862 2.33 4.027z"></path> -->
                                                                                    
                                                                                            <path d="M12 21c-7.605 0-10.804-8.296-10.937-8.648L.932 12l.131-.352C1.196 11.295 4.394 3 12 3s10.804 8.296 10.937 8.648l.131.352-.131.352C22.804 12.705 19.606 21 12 21zm-8.915-9c.658 1.467 3.5 7 8.915 7s8.257-5.533 8.915-7c-.658-1.467-3.5-7-8.915-7s-8.257 5.533-8.915 7zM12 16c-2.206 0-4-1.794-4-4s1.794-4 4-4 4 1.794 4 4-1.794 4-4 4zm0-6c-1.103 0-2 .897-2 2s.897 2 2 2 2-.897 2-2-.897-2-2-2z"></path>
                                                                                        </g>
                                                                                    </svg>
                                                                                    <div class="eye-btn-junk">
                                                                                        <span class="eye-btn-junk-in"></span>
                                                                                    </div>
                                                                                </div>
                                                                            </button>
                                                                        </div>
                                                                    </label>
                                                                    <div class="phone-line">
                                                                        <div class="phone-line-in"></div>
                                                                    </div>
                                                                </div>
                                                                <button type="button" class="change">
                                                                    <span class="replace-email">대신 이메일 사용하기</span>
                                                                    <!-- <span class="replace-phone">대신 휴대폰 사용하기</span> -->
                                                                </button>
                                                                <!-- <div class="birth-date">
                                                                    <div class="birth-date-text">
                                                                        <span class="birth-date-text-input">
                                                                            생년월일
                                                                        </span>
                                                                    </div>
                                                                    <div class="birth-date-intro">
                                                                        <span class="birth-date-intro-text">
                                                                            숫자로만 8자리로 쓰시오.(하이픈 제외) 
                                                                        </span>
                                                                    </div>
                                                                    <div class="birth-date-day">
                                                                        <div class="birth-date-day-in">
                                                                            <input type="text" placeholder="생년월일" class="birth-date-input">
                                                                        </div>
                                                                    </div>
                                                                </div> -->
                                                             </div>
                                                        </div>
                                                    </div>
                                                    <div class="terms-of-use">
                                                        <span class="terms-of-use-in">
                                                            <span class="term-of-use-content">
                                                                가입하면 쿠키 사용을 포함해 이용약관 및 개인정보 처리방침에 동의하게 됩니다. X는 계정을 안전하게 보호하고 광고를 포함한 맞춤 서비스를 제공하는 등 X 개인정보 처리방침에 명시된 목적을 위해 이메일 주소 및 전화번호 등의 내 연락처 정보를 사용할 수 있습니다. 자세히 알아보기. 이메일 또는 전화번호를 제공하시면 다른 사람들이 이 정보로 내 계정을 찾을 수 있게 됩니다. 해당 정보를 제공하지 않으시려면 여기에서 변경하세요.
                                                            </span>
                                                        </span>
                                                    </div>
                                                    <div class="join-modal-main-under">
                                                        <div class="join-modal-main-under-wrap">
                                                            <div class="join-modal-main-under-wrap-in">
                                                                <div class="next">
                                                                    <button type="button" class="next-button">
                                                                        <div class="next-button-wrap">
                                                                            <div class="next-button-wrap-in">
                                                                                <span class="next-button-wrap-in-text">
                                                                                    <span class="next-button-wrap-in-text-next">가입</span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div tabindex="0" class="join-modal-in-line-bottom"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div tabindex="0" class="join-modal-line7"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>