<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<link rel="stylesheet" href="../../static/css/member/join-modal-code.css">
<body>
    <!-- 0px인 선이 맨 위에 8개 있음 -->
    <div class="join-modal-line1">
        <div class="join-modal-line2">
            <div class="join-modal-line3">
                <div class="join-modal-line4">
                    <div class="join-modal-line5">
                        <div class="join-modal-line6">
                            <div tabindex="0" class="join-modal-line7"></div>
                            <div tabindex="0" class="join-modal">
                                <div class="join-modal-all"></div>
                                <!-- 실직적인 모달 시작 부분(join-modal-box) -->
                                <div class="join-modal-box1" aria-modal="true" role="dialog">
                                    <div class="join-modal-box2">
                                        <div class="join-modal-box3">
                                            <div tabindex="0" class="join-modal-in-line-top"></div>
                                            <div tabindex="0" class="join-modal-in">
                                                <div class="join-modal-header">
                                                    <div class="join-modal-header-in1">
                                                        <div class="join-modal-header-in2">
                                                            <div class="join-modal-header-in3">
                                                                <div class="join-modal-header-in4">
                                                                    <!-- 닫기 이미지 (X) -->
                                                                    <div class="join-modal-header-left">
                                                                        <button type="button" aria-label="닫기" class="join-modal-header-close-button">
                                                                            <div class="join-modal-header-close-button-in">
                                                                                <svg viewBox="0 0 24 24" aria-hidden="true" class="X-img" style="color: rgb(15, 20, 25);">
                                                                                    <g>
                                                                                        <path d="M10.59 12L4.54 5.96l1.42-1.42L12 10.59l6.04-6.05 1.42 1.42L13.41 12l6.05 6.04-1.42 1.42L12 13.41l-6.04 6.05-1.42-1.42L10.59 12z"></path>
                                                                                    </g>
                                                                                </svg>
                                                                                <div class="X-img-junk">
                                                                                    <span class="X-img-junk-css"></span>
                                                                                </div>
                                                                            </div>
                                                                        </button>
                                                                    </div>
                                                                    <!-- 로고 -->
                                                                    <div class="join-modal-header-middle">
                                                                        <div class="join-modal-logo-junk"></div>
                                                                        <div class="join-modal-logo">
                                                                            <svg viewBox="0 0 24 24" aria-label="X" role="img" class="join-modal-logo-img">
                                                                                <g>
                                                                                    <path d="M21.742 21.75l-7.563-11.179 7.056-8.321h-2.456l-5.691 6.714-4.54-6.714H2.359l7.29 10.776L2.25 21.75h2.456l6.035-7.118 4.818 7.118h6.191-.008zM7.739 3.818L18.81 20.182h-2.447L5.29 3.818h2.447z"></path>
                                                                                </g>
                                                                            </svg>
                                                                        </div>
                                                                    </div>
                                                                    <div class="join-modal-header-right"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- 모달 중간 내용 부분 -->
                                                <div class="join-modal-main">
                                                    <div class="join-modal-main-middle">
                                                        <div class="join-modal-main-middle-in">
                                                            <div class="account-create-wrap">
                                                                <div class="account-create-wrap-in">
                                                                    <h1 class="account-create">
                                                                        <span class="account-create-in">
                                                                            <span class="account-create-text">
                                                                                코드를 보내 드렸습니다
                                                                            </span>
                                                                        </span>
                                                                    </h1>
                                                                </div>
                                                                <div class="account-create-wrap-in">
                                                                    <h1 class="account-create1">
                                                                        <span class="account-create-in">
                                                                            <span class="account-create-text">
                                                                                test@gmail.com 인증을 위해 아래에 입력하세요.
                                                                            </span>
                                                                        </span>
                                                                    </h1>
                                                                </div>
                                                            </div>
                                                            <div class="account-create-wrap">
                                                                <!-- <div class="name-placeholder-wrap">
                                                                    <label class="name-placeholder">
                                                                        <div class="name-placeholder-in1">
                                                                            <div class="name-placeholder-in2">
                                                                                <div class="name-text">
                                                                                    <span class="name-text-in">이름</span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="name-placeholder-in3">
                                                                                <div class="name-placeholder-text">
                                                                                    <input maxlength="50" name="name" type="text" class="name-input" value="">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </label>
                                                                    <div class="name-line">
                                                                        <div class="name-line-in"></div>
                                                                    </div>
                                                                </div> -->
                                                                <div class="phone-number-placeholder">
                                                                    <label class="phone-placeholder">
                                                                        <div class="phone-placeholder-in1">
                                                                            <div class="phone-placeholder-in2">
                                                                                <div class="phone-text">
                                                                                    <span class="phone-text-in">인증 코드</span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="phone-placeholder-in3">
                                                                                <div class="phone-placeholder-text">
                                                                                    <input maxlength="50" name="phone" type="text" class="phone-input" value="">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </label>
                                                                    <div class="phone-line">
                                                                        <div class="phone-line-in"></div>
                                                                    </div>
                                                                </div>
                                                                <button type="button" class="change">
                                                                    <span class="replace-email">이메일을 받지 못하셨나요?</span>
                                                                    <!-- <span class="replace-phone">대신 휴대폰 사용하기</span> -->
                                                                </button>
                                                                <!-- <div class="birth-date">
                                                                    <div class="birth-date-text">
                                                                        <span class="birth-date-text-input">
                                                                            생년월일
                                                                        </span>
                                                                    </div>
                                                                    <div class="birth-date-intro">
                                                                        <span class="birth-date-intro-text">
                                                                            숫자로만 8자리로 쓰시오.(하이픈 제외) 
                                                                        </span>
                                                                    </div>
                                                                    <div class="birth-date-day">
                                                                        <div class="birth-date-day-in">
                                                                            <input type="text" placeholder="생년월일" class="birth-date-input">
                                                                        </div>
                                                                    </div>
                                                                </div> -->
                                                             </div>
                                                        </div>
                                                    </div>
                                                    <div class="join-modal-main-under">
                                                        <div class="join-modal-main-under-wrap">
                                                            <div class="join-modal-main-under-wrap-in">
                                                                <div class="next">
                                                                    <button type="button" class="next-button">
                                                                        <div class="next-button-wrap">
                                                                            <div class="next-button-wrap-in">
                                                                                <span class="next-button-wrap-in-text">
                                                                                    <span class="next-button-wrap-in-text-next">다음</span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div tabindex="0" class="join-modal-in-line-bottom"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div tabindex="0" class="join-modal-line7"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>