<body
    data-dtabs=""
    data-env="production"
    locale="ko"
    data-vuid="2029361442756206592"
    data-aaid="18ce55uy9xt"
    data-asm="none"
    data-atuid="2029361442756206592"
    data-nav-type="ads"
    data-error-scribing-enabled="true"
    data-scribe-account-id="4503599748827345"
    data-scribe-app-id="webappframework"
    data-scribe-promotable-user-id="2029361442756206592"
    data-scribe-session-id="2030818720885698561"
    data-scribe-support-mode="None"
    data-scribe-viewer-id="2029361442756206592"
    data-scribing-enabled="true"
>
    <div id="webaf-NavRoot" class="WebAfNavbarContainer">
        <nav class="NavigationBar AdsNavbar u-featherBackgroundDark">
            <div class="NavigationBar-content">
                <div
                    class="NavigationBar-itemGroup NavigationBar-itemGroup--alignStart"
                >
                    <div class="NavigationBar-item">
                        <a href="/"
                            ><span class="NavigationBar-brand"
                                ><svg
                                    fill="none"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    width="24"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        class="NavigationBar-brandTwitterIcon"
                                        d="M13.9048 10.4699L21.3509 2H19.5864L13.1187 9.35213L7.95564 2H2L9.80822 13.1194L2 22H3.76451L10.591 14.234L16.0444 22H22L13.9048 10.4699ZM11.4879 13.2172L10.6954 12.1092L4.40052 3.30031H7.11089L12.1924 10.4113L12.9817 11.5193L19.5864 20.7616H16.8761L11.4879 13.2172Z"
                                    ></path></svg>
                                 <span class="NavigationBar-brandName"
                                    >광고</span
                                ></span
                            ></a
                        >
                    </div>
                </div>
                <div
                    class="NavigationBar-itemGroup NavigationBar-itemGroup--alignEnd"
                >
                    <div class="NavigationBar-item">
                        <a href="https://ads.x.com/help" target="_blank"
                            >도움이 필요하세요?</a
                        >
                    </div>
                    <div class="NavigationBar-item">
                        <button
                            aria-controls=""
                            aria-expanded="false"
                            aria-haspopup="true"
                            class="Button Button--link"
                            tabindex="0"
                            type="button"
                        >
                            <span class="Button-label">김윤찬</span
                            ><span aria-hidden="true" class="Button-adornment"
                                ><span class="Icon Icon--caretDown"></span
                            ></span>
                        </button>
                    </div>
                    <div class="NavigationBar-item NavigationBar-item--user">
                        <button
                            aria-controls=""
                            aria-expanded="false"
                            aria-haspopup="true"
                            class="Button Button--link"
                            tabindex="0"
                            type="button"
                        >
                            <span class="Button-label"
                                ><div class="User User--profileImageOnly">
                                    <img
                                        alt=""
                                        class="User-profileImage"
                                        src="https://pbs.twimg.com/profile_images/2029361845321207808/LltLeaLS_reasonably_small.jpg"
                                    /></div></span
                            ><span aria-hidden="true" class="Button-adornment"
                                ><span class="Icon Icon--caretDown"></span
                            ></span>
                        </button>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div id="root">
        <div class="rBHOXsFXq_nhKbxJ096i">
            <div class="HZs3UJEjZHi4NBeS1v__">
                <aside
                    class="GdSRRYsVxwAZiBcTuanF NavigationSidebar"
                    style="min-height: calc(-56px + 100vh); top: 56px"
                >
                    <nav class="NavigationSidebar-main">
                        <ul class="NavigationSidebar-itemGroup" role="tree">
                            <li
                                class="NavigationSidebar-itemGroupSection"
                                role="treeitem"
                            >
                                <ul
                                    class="NavigationSidebar-itemGroup"
                                    role="tree"
                                >
                                    <li
                                        class="NavigationSidebar-itemGroupSectionLabel"
                                        role="presentation"
                                    >
                                        <span
                                            class="NavigationSidebar-itemGroupSectionLabelContent"
                                            title="캠페인"
                                            >캠페인</span
                                        >
                                    </li>
                                    <li
                                        class="NavigationSidebar-item NavigationSidebar-item--hasChildItemGroup is-open"
                                        role="presentation"
                                    >
                                        <div
                                            class="NavigationSidebar-itemTargetWrapper"
                                        >
                                            <button
                                                aria-expanded="true"
                                                role="treeitem"
                                                aria-controls="feather-navigation-sidebar-item-group-1"
                                            >
                                                <span
                                                    class="NavigationSidebar-itemTargetInnerWrapper"
                                                    ><span
                                                        aria-hidden="true"
                                                        class="Icon NavigationSidebar-itemStartIcon"
                                                        role="img"
                                                    ></span
                                                    ><span
                                                        class="NavigationSidebar-itemTargetChildren"
                                                        >Sales 03/09</span
                                                    ><span
                                                        aria-hidden="true"
                                                        class="Icon Icon--caretDown NavigationSidebar-itemEndIcon"
                                                        role="img"
                                                    ></span
                                                ></span>
                                            </button>
                                        </div>
                                        <ul
                                            data-test-id-v2="AdGroupNavigationSidebar-adGroupNavigationSidebar"
                                            id="feather-navigation-sidebar-item-group-1"
                                            class="NavigationSidebar-itemGroup"
                                            role="tree"
                                        >
                                            <li
                                                class="NavigationSidebar-item is-selected"
                                                role="presentation"
                                            >
                                                <div
                                                    class="NavigationSidebar-itemTargetWrapper"
                                                >
                                                    <button
                                                        class="f6AkmDQDUFvEsDg7W97g"
                                                        aria-expanded="false"
                                                        role="treeitem"
                                                    >
                                                        <span
                                                            class="NavigationSidebar-itemTargetInnerWrapper"
                                                            ><span
                                                                aria-hidden="true"
                                                                class="Icon NavigationSidebar-itemStartIcon"
                                                                role="img"
                                                            ></span
                                                            ><span
                                                                class="NavigationSidebar-itemTargetChildren"
                                                                ><span
                                                                    class="_P9mwEasBzuBTxAqDQJA"
                                                                    >캠페인
                                                                    세부정보</span
                                                                ></span
                                                            ></span
                                                        >
                                                    </button>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li
                                class="NavigationSidebar-itemGroupSection"
                                role="treeitem"
                            >
                                <ul
                                    class="NavigationSidebar-itemGroup"
                                    role="tree"
                                >
                                    <li
                                        class="NavigationSidebar-itemGroupSectionLabel"
                                        role="presentation"
                                    >
                                        <span
                                            class="NavigationSidebar-itemGroupSectionLabelContent"
                                            title="광고 그룹"
                                            >광고 그룹</span
                                        >
                                    </li>
                                    <li
                                        class="NavigationSidebar-item NavigationSidebar-item--hasChildItemGroup"
                                        role="presentation"
                                    >
                                        <div
                                            class="NavigationSidebar-itemTargetWrapper"
                                        >
                                            <button
                                                aria-expanded="false"
                                                role="treeitem"
                                            >
                                                <span
                                                    class="NavigationSidebar-itemTargetInnerWrapper"
                                                    ><span
                                                        aria-hidden="true"
                                                        class="Icon NavigationSidebar-itemStartIcon"
                                                        role="img"
                                                    ></span
                                                    ><span
                                                        class="NavigationSidebar-itemTargetChildren"
                                                        >제목 없음</span
                                                    ><span
                                                        aria-hidden="true"
                                                        class="Icon Icon--caretDown NavigationSidebar-itemEndIcon"
                                                        role="img"
                                                    ></span
                                                ></span>
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li
                                class="NavigationSidebar-itemGroupSection"
                                role="treeitem"
                            >
                                <ul
                                    class="NavigationSidebar-itemGroup"
                                    role="tree"
                                >
                                    <li
                                        class="NavigationSidebar-itemGroupSectionLabel"
                                        role="presentation"
                                    >
                                        <span
                                            class="NavigationSidebar-itemGroupSectionLabelContent"
                                            title="검토"
                                            >검토</span
                                        >
                                    </li>
                                    <li
                                        class="NavigationSidebar-item"
                                        role="presentation"
                                    >
                                        <div
                                            class="NavigationSidebar-itemTargetWrapper"
                                        >
                                            <button
                                                class="f6AkmDQDUFvEsDg7W97g"
                                                aria-expanded="false"
                                                role="treeitem"
                                            >
                                                <span
                                                    class="NavigationSidebar-itemTargetInnerWrapper"
                                                    ><span
                                                        aria-hidden="true"
                                                        class="Icon NavigationSidebar-itemStartIcon"
                                                        role="img"
                                                    ></span
                                                    ><span
                                                        class="NavigationSidebar-itemTargetChildren"
                                                        ><span
                                                            class="_P9mwEasBzuBTxAqDQJA"
                                                            >캠페인 검토 및
                                                            시작</span
                                                        ></span
                                                    ></span
                                                >
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </aside>
                <div
                    aria-label="Resize sidebar"
                    class="Eb_UxNP3j8fe8Kawhhzr"
                    role="separator"
                ></div>
            </div>
            <main class="ly6dcvwIoWnwNuYkUoTL">
                <div class="bgoGzcuZksvGOt9y7MQQ Grid">
                    <div
                        id="mainContentContainer"
                        class="zvKruoagB5vuhHdjfcZE Grid-cell u-sizeFill"
                    >
                        <div class="SL3dHlm9xF8t1mgngTZz Grid Grid--withGutter">
                            <div
                                class="Grid-cell u-before1of6 u-after1of6 u-size2of3"
                            >
                                <section
                                    data-module-id="campaign_details"
                                    role="region"
                                >
                                    <div class="Module">
                                        <div class="Module-header">
                                            <div
                                                aria-level="2"
                                                class="Module-title"
                                                role="heading"
                                            >
                                                캠페인 세부정보
                                            </div>
                                        </div>
                                        <div class="Module-body">
                                            <div class="Grid Grid--withGutter">
                                                <div
                                                    role="group"
                                                    class="Grid-cell u-sizeFull"
                                                >
                                                    <div class="FormField">
                                                        <div
                                                            class="FormField-label"
                                                        >
                                                            <span
                                                                class="FormField-labelText"
                                                                id="feather-form-field-text-16"
                                                                >목표</span
                                                            >
                                                        </div>
                                                        <div class="Module">
                                                            <div
                                                                class="fPG59p9mTdZ1vmxiCAk5 Module-body"
                                                            >
                                                                <div
                                                                    class="Grid Grid--yAlignCenter"
                                                                >
                                                                    <div
                                                                        class="Grid-cell u-sizeFill"
                                                                    >
                                                                        <div
                                                                            class="boCCdSo1EOw3r0pLs0sm"
                                                                        >
                                                                            <strong
                                                                                data-test-id-v2="CampaignObjective-objectiveField"
                                                                                >판매</strong
                                                                            >
                                                                        </div>
                                                                        <p
                                                                            class="x1_6UtdvqitoIjALSu7B"
                                                                        >
                                                                            사람들이
                                                                            내
                                                                            웹사이트를
                                                                            방문하고
                                                                            구매하도록
                                                                            유도합니다.
                                                                        </p>
                                                                    </div>
                                                                    <div
                                                                        class="Grid-cell u-sizeFit"
                                                                    >
                                                                        <button
                                                                            data-test-id-v2="CampaignObjective-editButton"
                                                                            class="Button Button--link"
                                                                            tabindex="0"
                                                                            type="button"
                                                                        >
                                                                            <span
                                                                                aria-hidden="true"
                                                                                class="Button-adornment"
                                                                                ><span
                                                                                    class="Icon Icon--editPencil"
                                                                                ></span></span
                                                                            ><span
                                                                                class="Button-label"
                                                                                >수정</span
                                                                            >
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div
                                                    role="group"
                                                    class="Grid-cell u-sizeFull"
                                                >
                                                    <div class="FormField">
                                                        <div
                                                            class="FormField-label"
                                                        >
                                                            <span
                                                                class="FormField-labelText"
                                                                id="feather-form-field-text-3"
                                                                >이름</span
                                                            >
                                                        </div>
                                                        <input
                                                            data-test-id-v2="CampaignName-campaignNameField"
                                                            aria-invalid="false"
                                                            class="FormInput"
                                                            placeholder="Sales 03/09"
                                                            type="text"
                                                            value=""
                                                            aria-describedby="feather-form-field-text-4"
                                                            aria-labelledby="feather-form-field-text-3"
                                                        /><span
                                                            class="FormField-characterCounter"
                                                            ><span
                                                                aria-hidden="true"
                                                                >255</span
                                                            ><span
                                                                class="u-featherHiddenVisually"
                                                                id="feather-form-field-text-4"
                                                                >Characters
                                                                left: 255</span
                                                            ></span
                                                        >
                                                    </div>
                                                </div>
                                                <div
                                                    role="group"
                                                    class="Grid-cell u-sizeFull"
                                                >
                                                    <div class="FormField">
                                                        <div
                                                            class="FormField-label"
                                                        >
                                                            <span
                                                                class="FormField-labelText"
                                                                id="feather-form-field-text-5"
                                                                >결제 방법</span
                                                            >
                                                        </div>
                                                        <span
                                                            role="alert"
                                                            class="FormValidationMessage is-error"
                                                            ><span
                                                                id="feather-form-field-text-6"
                                                                >이용 가능한
                                                                결제 수단이
                                                                없습니다.</span
                                                            ></span
                                                        >
                                                        <div
                                                            class="vxfXwgLj9a5bryih4Clg Grid Grid--withGutter"
                                                        >
                                                            <div
                                                                class="mtFRXOAqwiZeqRbJRBeP SSJEUMSkAr8AWT6Z2QGQ Grid-cell u-sizeFill"
                                                            >
                                                                <span
                                                                    class="Icon Icon--cards Icon--large IoXaDZcWdPqYxzXmwNEw mtFRXOAqwiZeqRbJRBeP"
                                                                    dir="ltr"
                                                                ></span
                                                                >결제 방법이
                                                                선택되지
                                                                않았습니다
                                                            </div>
                                                            <div
                                                                class="Grid-cell u-sizeFit"
                                                            >
                                                                <button
                                                                    class="Button Button--secondary"
                                                                    tabindex="0"
                                                                    type="button"
                                                                >
                                                                    <span
                                                                        aria-hidden="true"
                                                                        class="Button-adornment"
                                                                        ><span
                                                                            class="Icon Icon Icon--add"
                                                                        ></span></span
                                                                    ><span
                                                                        class="Button-label"
                                                                        >신용카드
                                                                        추가</span
                                                                    >
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div
                                                    role="group"
                                                    class="Grid-cell u-sizeFull"
                                                ></div>
                                                <div
                                                    role="group"
                                                    class="Grid-cell u-sizeFull"
                                                >
                                                    <fieldset
                                                        class="FormFieldset FormFieldset--canOpen"
                                                    >
                                                        <button
                                                            class="FormFieldset-legend"
                                                            type="button"
                                                        >
                                                            고급
                                                        </button>
                                                        <div
                                                            class="FormFieldset-content"
                                                        >
                                                            <div
                                                                class="Grid Grid--withGutter"
                                                            >
                                                                <div
                                                                    class="Grid-cell u-sizeFull"
                                                                >
                                                                    <div
                                                                        class="FormField"
                                                                    >
                                                                        <div
                                                                            class="FormField-label"
                                                                        >
                                                                            <span
                                                                                class="FormField-labelText"
                                                                                id="feather-form-field-text-8"
                                                                                >캠페인
                                                                                예산
                                                                                최적화<button
                                                                                    data-feather-tooltip-target=""
                                                                                    tabindex="0"
                                                                                    aria-label="자세히 알아보기"
                                                                                    class="IconButton IconButton--infoIcon IconButton--small"
                                                                                    type="button"
                                                                                >
                                                                                    <span
                                                                                        aria-hidden="true"
                                                                                        class="Icon Icon--info"
                                                                                    ></span></button
                                                                            ></span>
                                                                        </div>
                                                                        <div
                                                                            aria-checked="false"
                                                                            aria-disabled="false"
                                                                            class="Switch"
                                                                            role="switch"
                                                                            tabindex="0"
                                                                        >
                                                                            <span
                                                                                class="Switch-control"
                                                                                ><span
                                                                                    class="Switch-thumb"
                                                                                ></span
                                                                                ><span
                                                                                    aria-hidden="true"
                                                                                    class="Switch-iconOn"
                                                                                    ><span
                                                                                        class="Icon Icon--check"
                                                                                    ></span></span
                                                                                ><span
                                                                                    aria-hidden="true"
                                                                                    class="Switch-iconOff"
                                                                                    ><span
                                                                                        class="Icon Icon--close"
                                                                                    ></span></span></span
                                                                            ><span
                                                                                class="Switch-text"
                                                                                >해제</span
                                                                            >
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div
                                                                    class="Grid-cell u-sizeFull"
                                                                >
                                                                    <div
                                                                        class="FormField"
                                                                    >
                                                                        <div
                                                                            class="FormField-label"
                                                                        >
                                                                            <span
                                                                                class="FormField-labelText"
                                                                                id="feather-form-field-text-10"
                                                                                >캠페인
                                                                                지출
                                                                                한도</span
                                                                            >
                                                                            <button
                                                                                data-feather-tooltip-target=""
                                                                                tabindex="0"
                                                                                aria-label="Learn more"
                                                                                class="IconButton IconButton--infoIcon IconButton--small"
                                                                                type="button"
                                                                            >
                                                                                <span
                                                                                    aria-hidden="true"
                                                                                    class="Icon Icon--info"
                                                                                ></span>
                                                                            </button>
                                                                            <div
                                                                                class="u-featherHiddenVisually"
                                                                                id="feather-form-field-text-12"
                                                                            >
                                                                                캠페인
                                                                                전체
                                                                                기간
                                                                                동안
                                                                                지출하려는
                                                                                예산의
                                                                                한도를
                                                                                설정합니다.
                                                                            </div>
                                                                        </div>
                                                                        <div
                                                                            class="FormInputWrapper FormInputWrapper--withStartAdornment"
                                                                        >
                                                                            <input
                                                                                aria-invalid="false"
                                                                                class="FormInput"
                                                                                placeholder="0.00"
                                                                                type="text"
                                                                                value=""
                                                                                aria-describedby="feather-form-field-text-12"
                                                                                aria-labelledby="feather-form-field-text-10"
                                                                            />
                                                                            <div
                                                                                class="FormInputWrapper-startAdornment"
                                                                            >
                                                                                KRW
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <div class="ut3KGw2m87_C9N8EwMUB"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer
                    role="navigation"
                    class="b2L234xQN7ckin5cpFAu PageFooter"
                >
                    <div class="PageFooter-content">
                        <div class="PageFooter-startContent">
                            <button
                                data-slot="button"
                                class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 text-primary underline-offset-4 hover:underline h-9 px-4 py-2"
                            >
                                종료
                            </button>
                        </div>
                        <div class="PageFooter-endContent">
                            <button
                                data-slot="button"
                                class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 border border-input bg-background shadow-sm hover:bg-accent hover:text-accent-foreground h-9 px-4 py-2"
                            >
                                임시 저장</button
                            ><button
                                data-slot="button"
                                class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 border border-black bg-black text-white shadow hover:bg-black/90 h-9 px-4 py-2"
                            >
                                다음
                            </button>
                        </div>
                    </div>
                </footer>
            </main>
        </div>
    </div>

    <img
        src="https://t.co/1/i/adsct?bci=4&amp;dv=Asia%2FSeoul%26ko-KR%2Cko%2Cen-US%2Cen%26Google%20Inc.%26Win32%26255%261440%26900%2616%2632%261440%26852%260%26na&amp;eci=3&amp;event=%7B%7D&amp;event_id=a45e0ed0-f4aa-488b-bc58-0ef304f22208&amp;integration=advertiser&amp;p_id=Twitter&amp;p_user_id=0&amp;pl_id=0800d912-9842-4542-bfa3-64b1a6181ea8&amp;pt=%EC%BA%A0%ED%8E%98%EC%9D%B8%20%EC%96%91%EC%8B%9D&amp;tw_document_href=https%3A%2F%2Fads.x.com%2Fcampaign_form%2F18ce55uy9xt%2Fcampaign%2Fnew%3Fobjective%3D14&amp;tw_iframe_status=0&amp;tw_pid_src=2&amp;twpid=tw.1772694091412.385872053521570036&amp;txn_id=num2q&amp;type=javascript&amp;version=2.3.41"
        height="1"
        width="1"
        fetchpriority="high"
        style="display: none"
    /><img
        src="https://analytics.x.com/1/i/adsct?bci=4&amp;dv=Asia%2FSeoul%26ko-KR%2Cko%2Cen-US%2Cen%26Google%20Inc.%26Win32%26255%261440%26900%2616%2632%261440%26852%260%26na&amp;eci=3&amp;event=%7B%7D&amp;event_id=a45e0ed0-f4aa-488b-bc58-0ef304f22208&amp;integration=advertiser&amp;p_id=Twitter&amp;p_user_id=0&amp;pl_id=0800d912-9842-4542-bfa3-64b1a6181ea8&amp;pt=%EC%BA%A0%ED%8E%98%EC%9D%B8%20%EC%96%91%EC%8B%9D&amp;tw_document_href=https%3A%2F%2Fads.x.com%2Fcampaign_form%2F18ce55uy9xt%2Fcampaign%2Fnew%3Fobjective%3D14&amp;tw_iframe_status=0&amp;tw_pid_src=2&amp;twpid=tw.1772694091412.385872053521570036&amp;txn_id=num2q&amp;type=javascript&amp;version=2.3.41"
        height="1"
        width="1"
        fetchpriority="high"
        style="display: none"
    />
</body>
