.Chat-Main {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0px;
    min-height: 0px;
    min-width: 0px;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0);
    border: 0 solid black;
    z-index: 0;
}

.Chat-Layout {
    margin: 0 auto;
    box-sizing: border-box;
    width: 1257px;
    max-width: 100%;
    flex-shrink: 1;
    flex-grow: 1;
    align-items: stretch;
}

.Chat-Wrapper {
    padding-right: 70px;
    flex-grow: 1;
    backface-visibility: hidden;
}

.Chat-Container {
    width: 100%;
    min-height: 100%;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    align-items: stretch;
    background-color: rgba(0, 0, 0, 0);
    border-left: 1px;
    border-right: 1px;
    border-color: rgb(239, 243, 244);
    border-style: solid;
    background-color: white;
}

.Chat-Contents-Wrapper {
    width: 100%;
}

.Chat-Contents-Container {
    display: flex;
    width: 100%;
    height: 100vh;
    border-color: hsl(197 16% 91%);
    container-type: inline-size;
}

.Chat-UserList-Wrapper {
    display: block;
    width: 35%;
    max-width: 36rem;
    min-width: 400px;
    flex-shrink: 0;
}

.Chat-UserList-Container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 0px;
    width: 100%;
    height: 100%;
    border-inline-end-width: 1px;
}

.UserList-Header {
    display: flex;
    flex-direction: column;
}

.UserList-Header-Upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    height: 64px;
}

.Header-Upper-Content {
    display: flex;
    align-items: center;
    gap: 8px;
}

.Header-Upper-Text {
    max-width: 100%;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
    word-break: break-word;
}

.Header-Upper-Button {
    display: flex;
    align-items: center;
}

.Header-Each-Button {
    display: inline-flex;
    font-size: 15px;
    line-height: 20px;
    color: hsl(210 25% 8%);
    outline-color: hsl(210 25% 8%);
    padding-left: 0px;
    padding-right: 0px;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 9999px;

    min-width: 36px;
    height: 36px;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.Header-Each-Button:hover {
    background-color: #0f141a1a;
}

.Header-Each-Button svg {
    width: 20px;
    height: 20px;
}

.UserList-Header-Bottom {
    padding: 4px 16px;
    user-select: none;
}

.Header-SearchBar {
    display: flex;
    padding: 8px;
    padding-inline-start: 12px;
    padding-inline-end: 12px;
    background-color: hsl(180 14% 97%);
    border: 1px solid hsl(192 19% 95%);
    border-radius: 9999px;
    overflow: hidden;
    gap: 8px;
    align-items: center;
    justify-content: center;
    cursor: text;
}

.Header-SearchBar svg {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    color: #52636f;
}

.Header-SearchBar-Text {
    color: #52636f;
    height: 24px;
}

.UserList-Wrapper {
    padding-bottom: 4px;
    border-top-width: 1px;
    border-color: transparent;

    scrollbar-width: thin;
    scrollbar-color: #9ca3af80;
    height: 100% !important;

    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.UserList-Container {
    position: relative;
    overflow-anchor: none;
    width: 100%;
    height: 160px;
    visibility: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
}

.UserList-EachUser {
    width: 100%;
    left: 0px;
    top: 0px;
    visibility: visible;
}

.EachUser-UserInfo {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding-left: 16px;
    padding-right: 16px;
    gap: 16px;
    cursor: pointer;
}

.UserInfo-Avatar {
    padding-top: 12px;
    padding-bottom: 12px;
}

.Avatar-Image {
    display: flex;

    background-color: #bacbd4;
    border-radius: 9999px;

    overflow: hidden;
    width: 56px;
    height: 56px;
    min-width: 56px;
    min-height: 56px;

    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
        animation-duration: 200ms;
}

.Avatar-Image:hover {
    filter: brightness(.9);
}

.Avatar-Image img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    dynamic-range-limit: standard;
}

.UserInfo-Info {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    border-bottom-width: 1px;
    border-color: #f0f4f5;
}

.Info-Upper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
}

.Info-UserName {
    display: flex;
    flex-direction: row;
}

.UserName-Container {
    display: flex;
    gap: 2px;
    align-items: center;
    max-width: 100%;
    cursor: pointer;
}

.UserName-Text {
    display: -webkit-box;
    overflow: hidden;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    color: #0f141a;
    max-width: 100%;
    white-space: pre-wrap;
    word-break: break-all;
}

.UserName-Badge {
    flex-shrink: 0;
}

.Badge-Wrapper {
    max-width: 100%;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word;
    word-break: break-word;
    color: #0f141a;
}

.Badge-Svg {
    display: flex;
    gap: 4px;
}

.Badge-Svg svg {
    display: block;
    fill: #1e9cf1;
}

.Lastest-ChatTime {
    display: flex;
    gap: 6px;
    color: #52636f;
    font-weight: 400;
    flex-shrink: 0;
    align-items: center;
}

.Lastest-ChatTime-Text {
    max-width: 100%;
    font-size: 15px;
    line-height: 20px;
    color: inherit;
}

.Info-Bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.Talk-Wrapper {
    display: flex;
    flex: 1 1 0%;
    flex-direction: row;
    font-weight: 400;
    color: #52636f;
    gap: 4px;
    overflow: hidden;
    align-items: center;
    min-width: 0px;
}

.Talk-Container {
    display: -webkit-box;
    overflow: hidden;
    font-size: 15px;
    line-height: 20px;
    word-break: break-all;
    max-width: 100%;
    color: inherit;
}

.Talk-Content {
    word-wrap: break-word;
    word-break: break-word;
    color: inherit;
    font-size: inherit;
    max-width: 100%;
}

.Chat-ChatContent {
    display: block;
    width: 100%;
}

.ChatContent-Wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    gap: 24px;
}

.ChatContent-Icon {
    display: flex;
    width: 96px;
    height: 96px;
    font-size: 48px;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    background-color: #f6f8f8;
}

.ChatContent-Texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.Upper-Text {
    max-width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
    word-break: break-word;
}

.Bottom-Text {
    max-width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
    word-break: break-word;
    color: #52636f;
}

.ChatContent-Button {
    display: inline-flex;
    border: 1px solid transparent;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 15px;
    line-height: 20px;
    outline-color: #0f141a;
    background-color: #0f141a;    
    border-radius: 9999px;
    align-items: center;
    justify-content: center;
    height: 36px;
    min-width: 36px;
    gap: 4px;

    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;

    cursor: pointer;
}

.ChatContent-Button-Text {
    display: -webkit-box;
    overflow: hidden;
    max-width: 100%;
    color: white;
    font-weight: 700;
    font-size: inherit;
    word-wrap: break-word;
    word-break: break-word;
}

.ChatPage-Wrapper {

}


/* 모달 부분 ------------------------- */

.Modal-BackDrop {
    position: fixed;
    inset: 0px;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.8);
}

.off {
    display: none;
}