<!doctype html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>404 - Page Not Found</title>
        <link rel="stylesheet" href="../../static/css/Error/Error.css" />
    </head>
    <body>
        <main role="main" class="error-container">
            <div class="error-content" data-testid="error-detail">
                <p class="error-message">
                    이 페이지는 존재하지 않습니다. 다른 페이지를 검색해 보세요.
                </p>
                <a
                    href="/search"
                    role="link"
                    class="error-link"
                    style="
                        border-color: rgba(0, 0, 0, 0);
                        background-color: rgb(29, 155, 240);
                    "
                >
                    홈
                </a>
            </div>
        </main>
        <script src="/static/js/Error/event.js"></script>
    </body>
</html>
