<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비디오 채팅</title>
    <link rel="stylesheet" href="../../static/css/video/video-chat.css">
</head>
<body>
    <div class="video-start">
        <div class="video">
            <div class="video-chat">
                <div class="video-chat-wrap">
                    <div class="video-chat-wrap-in1">
                        <div class="video-chat-wrap-in1-wrap">
                            <div class="video-chat-wrap-in1-wrap-in">
                                <div class="video-chat-header">
                                    <div class="video-chat-header-top">
                                        <div class="video-chat-header-top-icons">
                                            <button type="button" class="video-chat-fold">
                                                <div class="video-chat-fold-wrap">
                                                    <svg viewBox="0 0 17 10" aria-hidden="true" class="video-chat-fold-wrap-in">
                                                        <g>
                                                            <path d="M.043 1.485L1.457.065 8.5 7.115l7.043-7.05 1.414 1.42L8.5 9.935.043 1.485z"></path>
                                                        </g>
                                                    </svg>
                                                    <div class="video-chat-fold-junk">
                                                        <span class="video-chat-fold-junk-content"></span>
                                                    </div>
                                                </div>
                                            </button>
                                            <div class="video-chat-header-icons">
                                                <button type="button" class="play">
                                                    <div class="play-btn">
                                                        <svg viewBox="0 0 24 24" aria-hidden="true" class="play-btn-content">
                                                            <g>
                                                                <path fill="#ff0000" d="M8 6h3v12H8V6zm5 0h3v12h-3V6z"></path>
                                                            </g>
                                                        </svg>
                                                    </div>
                                                </button>
                                                <button type="button" class="stop">
                                                    <div class="stop-btn">
                                                        <svg viewBox="0 0 24 24" aria-hidden="true" class="stop-btn-content">
                                                            <g>
                                                                <path fill="#ff0000" d="M8 6h3v12H8V6zm5 0h3v12h-3V6z"></path>
                                                            </g>
                                                        </svg>
                                                    </div>
                                                </button>
                                                <button type="button" class="video-chat-close">
                                                    <div class="video-chat-close-wrap">
                                                        <div class="video-chat-close-wrap-in">
                                                            <span class="video-chat-close-text">
                                                                <span class="video-chat-close-text-in">
                                                                    <span class="video-chat-close-text-in-content">종료</span>
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="video-chat-header-bottom"></div>
                                </div>
                                <div class="video-chat-main"></div>
                            </div>
                        </div>
                    </div>
                    <div class="video-chat-wrap-in2"></div>
                </div>
            </div>
        </div>
    </div>    
</body>
</html>